.App {
  text-align: center;
}

button#start {
  background: lime;
  border: none;
  width: 5rem;
  margin: 0.3rem;
  border-radius: 1rem;
}

button#stop {
  background: red;
  border: none;
  width: 5rem;
  margin: 0.3rem;
  border-radius: 1rem;
}

input {
  width: 8rem;
  padding: 0.2rem;
  margin: 0.3rem;
}
label, form {
  margin: auto;
}

.banner {
  display: flex;
  background-color: black;
}
.Box {
  padding: 1rem;
  flex-grow: 1;
  height: 300px;
  display: flex;
  /* max-width: 50%; */
}
.BoxInner {
  padding: 1rem;
  flex-grow: 1;
}
.log {
  padding: 1rem;
  background-color: #dddddd;
  margin: 0.5rem;
  border-radius: 1rem;
}

.formLike {
  background-color: #dddddd;
  border-radius: 0.5rem;
  margin: 0.5rem;
  flex-grow: 1;
  display:flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.canvasBox {
  padding: 1rem;
  flex-grow: 1;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
